@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: lato, sans-serif;


}

p {
  color: #414141;
  font-weight: 300;
  font-size: 14px;
  em{
    font-weight: 300;

  }
}


a {
  color: inherit;
  text-decoration: none;
  overflow-wrap: break-word;
}

.texte {
  a {
    // text-decoration: underline;
  }
  p {
    margin: 1rem 0;
  }
}

.texteContact{
  margin-top: -3px !important;
  p {
    margin: 0 0 1rem 0;
  }
  .pDescri {
    margin-top: 3rem!important;
    margin-bottom: 4rem!important;
  }
}

* {
  box-sizing: border-box;
}

.vjs_video_3-dimensions {
  width: 100%;
  height: 360px;
}

.video-js {
  width: 100%;
  height: auto;
}

.video-js .vjs-big-play-button {
  border: none!important;
  background: none!important
}

.topLineText {
  p {
    line-height: 14px;
    margin-bottom: 6px
  }
}

.aspect-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%,
}
.aspect-videoBig {
  width: 100%;
  height: 0;
  padding-bottom: 66.25%,
}

.aspect-hoch {
  width: 100%;
  height: 0;
  padding-bottom: 110.25%,
}

.mainWrapper {
  padding-bottom: 6rem;
}

body {
  position: relative;
  min-height: 100vh;
}

.footer {
  position: absolute;
  bottom: 0;
}