@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: lato, sans-serif;


}

p {
  color: #414141;
  font-weight: 300;
  font-size: 14px;
  em{
    font-weight: 300;

  }
}


a {
  color: inherit;
  text-decoration: none;
  overflow-wrap: break-word;
}

.texte {
  a {
    text-decoration: underline;
  }
  p {
    margin: 1rem 0;
  }
}

* {
  box-sizing: border-box;
}

.vjs_video_3-dimensions {
  width: 100%;
  height: 360px;
}

.video-js {
  width: 100%;
  height: auto;
}